{% extends "base.html" %}
{% block content %}
<div class="row mt-5">
    <div class="col-md-3">
        <div class="col">
            <ul class="list-group list-group-flush">
                {% for empresa in empresas %}
                    <li class="list-group-item">
                        <a href="#collapse{{empresa.name}}" class="list-group list-group-flush" data-bs-toggle="collapse" href="#collapse{{empresa.name}}" aria-expanded="false" aria-controls="collapse{{empresa.name}}" role="button">{{ empresa.name }}</a>
        
                        <div class="collapse" id="collapse{{empresa.name}}">
                            <ul class="list-group list-group-flush">
                                {% for area in empresa.areas.all %}
                                    <li class="list-group-item">
                                        <a href="#collapse{{area.name}}" class="list-group list-group-flush" data-bs-toggle="collapse" href="#collapse{{area.name}}" aria-expanded="false" aria-controls="collapse{{area.name}}" role="button">{{ area.name }}</a>

                                        <div class="collapse" id="collapse{{area.name}}">
                                            <ul class="list-group list-group-flush">
                                                {% for equipamento in area.equipamentos.all %}
                                                    <li class="list-group-item">
                                                        <a href="#collapse{{equipamento.name}}" class="list list-group-flush" data-bs-toggle="collapse" href="#collapse{{equipamento.name}}" aria-expanded="false" aria-controls="collapse{{equipamento.name}}" role="button">{{ equipamento.name }}</a>

                                                        <div class="collapse" id="collapse{{equipamento.name}}">
                                                            <ul class="list-group list-group-flush">
                                                                {% for componente in equipamento.componentes.all %}
                                                                    <li class="list-group-item">
                                                                        {{ componente.name }}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <h1>Content</h1>
    </div>
</div>

{% endblock content %}